.Music-chart {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    position: relative;

    .title {
        justify-content: space-between;
        font-size: 1.5rem;
        margin-bottom: 0px;

        h2 {
            margin: 0;
        }

        .date {
            padding: 5px 10px;
            border-radius: 5px;
            color: white;
            cursor: pointer;
            margin-left: 657px;
        }
    }

    .list {
        ul {
            list-style: none;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            li {
                display: flex;
                align-items: center;
                padding: 5px 20px;
                border-radius: 10px;
                cursor: pointer;
                background-color: var(--subcolor);

                &:nth-child(odd) {
                    background-color: #b818dc25;
                }

                &:hover {
                    color: rgb(255, 255, 255);

                    .rank,
                    .title,
                    .album {
                        color: #c412ecae;

                    }
                }

                .rank {
                    font-size: 1.4rem;
                    font-weight: bold;
                    margin-right: 10px;
                    flex: 0 0 50px;
                    text-align: center;
                }

                .img {
                    width: 50px;
                    height: 50px;
                    background-size: cover;
                    background-position: center;
                    border-radius: 5px;
                    margin-right: 10px;
                }

                .title {
                    font-size: 1.6rem;
                    flex: 1;
                    margin-bottom: 0;
                }

                .album {
                    font-size: 1.4rem;
                    flex: 1;
                    text-align: right;
                }
            }
        }
    }
}

.youtube-result {
    position: fixed;
    left: 260px;
    right: 400px;
    bottom: 0;
    height: 40vh;
    /* Adjust height to fit the content comfortably */
    background-color: #d9c4e8;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #4a3f63;
    text-align: center;

    h3 {
        font-size: 1.5rem;
        margin-bottom: 15px;
        color: #4B0082;
        text-decoration: underline;
        text-decoration-color: rgba(184, 24, 220, 0.5);
    }

    ul {
        list-style: none;
        padding: 0;

        li {
            display: flex;
            align-items: center;
            padding: 10px;
            border-bottom: 1px solid rgba(184, 24, 220, 0.2);

            .img {
                background-size: cover;
                width: 60px;
                height: 60px;
                margin-right: 15px;
                border-radius: 4px;
            }

            .title {
                font-size: 1rem;
                flex-grow: 1;
                color: #4B0082;
                text-decoration: underline;
                text-decoration-color: rgba(184, 24, 220, 0.5);
            }

            .playNow {
                font-size: 1.5rem;
                margin-right: 10px;
                color: #8A2BE2;
            }

            .listAdd {
                font-size: 1.5rem;
                color: #8A2BE2;
            }
        }
    }

    h3 {
        font-size: 1.5rem;
        margin-bottom: 15px;
        color: #4B0082;
        text-decoration: underline;
        text-decoration-color: rgba(184, 24, 220, 0.5);
    }

    ul {
        list-style: none;
        padding: 0;

        li {
            display: flex;
            align-items: center;
            padding: 10px;
            border-bottom: 1px solid rgba(184, 24, 220, 0.2);

            .img {
                background-size: cover;
                width: 60px;
                height: 60px;
                margin-right: 15px;
                border-radius: 4px;
            }

            .title {
                font-size: 1rem;
                flex-grow: 1;
                color: #4B0082;
                text-decoration: underline;
                text-decoration-color: rgba(184, 24, 220, 0.5);
            }

            .playNow {
                font-size: 1.5rem;
                margin-right: 10px;
                color: #8A2BE2;
            }

            .listAdd {
                font-size: 1.5rem;
                color: #8A2BE2;
            }
        }
    }
}